# data
mysql-data:
    image: busybox
    container_name: mysql-data
    volumes:
        - /var/lib/mysql

# mysql
mysql:
    image: mysql:5.7
    container_name: mysql
    environment: 
        - MYSQL_ROOT_PASSWORD=east
    ports:
        - "3306:3306"
    volumes_from:
        - mysql-data

#php
php-fpm:
    image: murisly/php:5.6
    container_name: php-fpm
    volumes:
        - /var/www:/var/www
        - ./projects/php/conf.d/extensions.ini:/usr/local/etc/php/conf.d/extensions.ini
        - ./projects/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
        - ./projects/php/php-fpm.conf:/usr/local/etc/php-fpm.conf
    ports:
        - "9000:9000"
    links:
        - mysql
    extra_hosts:
        - "devicehost:192.168.0.1"
    working_dir: /var/www

# web server
nginx:
    image: nginx:1.10
    container_name: nginx
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - /var/www:/var/www
        - ./projects/nginx/nginx.conf:/etc/nginx/nginx.conf
        - ./projects/nginx/servers:/etc/nginx/servers
        - ./projects/nginx/conf.d:/etc/nginx/conf.d

